services:
  - type: web
    name: thanvi-portfolio
    env: static
    branch: main
    repo: https://github.com/thanvi-nagalla/portfolio
    buildCommand: npm ci && npm run build
    staticPublishPath: build
    headers:
      - path: /*
        name: X-Frame-Options
        value: DENY
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
      - path: /*
        name: Referrer-Policy
        value: strict-origin-when-cross-origin
